[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.zip

portfolio-assets/videos/
logRunSetup.txt

# macOS
.DS_Store

# Wwise SDK binaries, docs, debug symbols, profiling sessions
Assets/Wwise/API/Runtime/Plugins/
Assets/Wwise/Documentation/
*.dSYM
*.pdb
*.prof

FantasyAudioDemo_Wwise/.cache/
FantasyAudioDemo_Wwise/GeneratedSoundBanks

*.validationcache

Assets/Wwise/
Wwise/